button h5 {
  color: red;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
span {
  font-weight: 500;
}

button {
  border-radius: 0.5rem;
  text-align: center;
  width: 86vw;
  height: 3.2rem;
  font-kerning: auto;
  color: black;
  border: 1px solid transparent;
  margin-bottom: 1.2rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  font-family: inherit;
  background-color: #ebecf0;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #d0d5dd;
}

button:focus,
button:focus-visible {
  outline: 2px solid #d0d5dd;
  background-color: white;
}

@media (min-width: 250px) and (max-width: 650px) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ebecf0;
  }
}
